services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v3.8.0
    container_name: mlflow-server
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
      - ./mlflow_data:/mlflow/data
    command: >
      mlflow server
      --backend-store-uri sqlite:////mlflow/data/mlflow.db
      --default-artifact-root /mlflow/mlruns
      --host 0.0.0.0
      --port 5000
    restart: unless-stopped
    environment:
      - MLFLOW_TRACKING_URI=http://localhost:5000